<div class="col-6">
    <img src="movie.Poster">
</div>
<div class="col-6">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Edit Movie</h3>
            <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Director</label>
                    <input type="text" formControlName="director" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.director.errors }" />
                    <div *ngIf="submitted && f.director.errors" class="invalid-feedback">
                        <div *ngIf="f.director.errors.required">Director is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>genre</label>
                    <input type="text" formControlName="genre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }" />
                    <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                        <div *ngIf="f.genre.errors.required">genre is required</div>
                        <div *ngIf="f.genre.errors.genre">genre must be a valid genre address</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>