.list-header {
    padding-top: 15px;
    margin-bottom: 10px;
    height: 55px;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
}

h1.movie-list-header {
    margin-top: 20px;
    text-align: center;
}

.img-fluid {
    width: 100% !important;
    margin-bottom: 10px;
}

img.hover02 {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img.hover02:hover {
    width: 500px;
}

.img-fluid:hover {
    cursor: pointer;
}

div#paginig-row-wrapper {
    margin-top: 25px !important;
}

@media (min-width: 992px) {
    .img-fluid {
        height: 314px;
    }
}

@media (min-width: 768px) {
    .img-fluid {
        height: 330px;
    }
}

@media (min-width: 576px) {
    .img-fluid {
        height: 360px;
    }
}

@media (max-width: 575px) {
    .img-fluid {
        height: 580px;
        display: block;
        margin: 0 auto;
    }
}